{% extends 'home_page_template/base.html' %}     {% block title %}Home{% endblock %}

{% block content %}
    <div>
        {% for thread in all_threads %}
            <p>Title: {{ thread.title }}</p>
            <p>Description: {{ thread.description }}</p>
            <p>PK: {{ thread.pk }}</p>
            <p>Category: {{ thread.category }}</p>
            <p>CategoryID: {{ thread.category_id }}</p>
            <p>Tag: {{ thread.tags }}</p>
            <p>Created by: {{ thread.creator }}</p>
            <p>Created at: {{ thread.created_at }}</p>
            <p>Updated at: {{ thread.updated_at }}</p>
            
            <a href="{% url 'thread-detail' thread.pk %}">
                <button>View</button>
            </a>
            <hr>
        {% endfor %}
    </div>

{% endblock %}