{% extends 'home_page_template/base.html' %} {% block title %}{{ thread.title }}{% endblock %}

{% block content %}

    
        <p>PK: {{ thread.pk }}</p>
        <p>Title: {{ thread.title }}</p>
        <p>Description: {{ thread.description }}</p>
        <br>
        {% if request.user == thread.creator %}
            <a href="{% url 'thread-update' thread.pk %}">Update</a>
            <br>
            <a href="{% url 'thread-delete' thread.pk %}">Delete</a>
        {% endif %}
        <br><br>
        <a href="{% url 'add-comment' thread.pk %}">add comment</a>
{#        <button id="like-button" data-liked="{{ user in thread.likes.all }}" data-url="{% url 'toggle-thread-like' thread.pk %}">#}
            {% if user.is_authenticated %}
                <button id="like-button" data-liked="{{ user in thread.likes.all }}">{{ thread.likes.all|yesno:"Unlike,Like" }}</button>
            {% else %}
                <p><a href="{% url 'login' %}">Log in</a> to like this post.</p>
            {% endif %}
{#        </button>#}
        <p>Likes: <span id="like-count">{{ post.like_count }}</span></p>
        
        <br><br><br>
        <hr>
        {% for comment in comments %}
            <p>Comment: {{ comment.text }}</p>
            <p>Comm by: {{ comment.user }}</p>
            <a href="{% url 'update-comment' comment.pk %}">Update</a>
            <br>
        
        
      <script>
        $(document).ready(function() {
          $('#like-button').click(function() {
            var button = $(this);
            var url = "{% url 'toggle-thread-like' thread.pk %}";
    
            $.ajax({
              url: url,
              method: 'POST',
              headers: {
                'X-CSRFToken': '{{ csrf_token }}'
              },
              success: function(response) {
                button.data('liked', response.liked);
                button.text(response.liked ? 'Unlike' : 'Like');
                $('#like-count').text(response.like_count);
              },
              error: function() {
                alert('An error occurred. Please try again.');
              }
            });
          });
        });
      </script>
    {% endfor %}

{% endblock %}